button,
input{
  outline: none;
  color: #000;
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
	border:none;
	background: none;
}
/*每个页面公共css */
view{
  box-sizing: border-box;
}
ul,ol,li{
  font-weight: normal;
}
page{
  font-size: 28rpx;
  color:#333;
  line-height: 1.4;
  font-family: PingFangSC-Regular,PingFang SC;
}
.bold{
  font-weight:bold;
}
.c666{color:#666}
.c999{color:#999}
.fff{color:#fff}
.ell,.ells,.ells3 {
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box; */
  -webkit-box-orient: vertical;
  word-spacing: pre-wrap;
}
.ell{-webkit-line-clamp: 1;}
.ells{-webkit-line-clamp: 2;}
.ells3{-webkit-line-clamp: 3;}
.absolute {position: absolute;}
.relative {position: relative;}
.fixed {position: fixed;}
.flex {
display: flex;
align-content: flex-start;
align-items: center;
}
.flex.wrap {flex-wrap: wrap;}
.flex.rowReverse{flex-direction: row-reverse;}
.flex.center {justify-content: center;}
.flex.between {justify-content: space-between;}
.flex.end {justify-content: flex-end;}
.flex.start {align-items: flex-start;}
.flex.stretch {align-items: stretch;}
.flex.alignEnd {align-items: flex-end;}