html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	padding-top: constant(safe-area-inset-top);   /*为导航栏+状态栏的高度 88px*/            
    padding-left: constant(safe-area-inset-left);   /*如果未竖屏时为0*/             
    padding-right: constant(safe-area-inset-right); /*如果未竖屏时为0*/                
    padding-bottom: constant(safe-area-inset-bottom); /*为底下圆弧的高度 34px*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul, li {
	list-style: none;
	font-weight: normal;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,
button,
input{
    outline: none;
    text-decoration:none;
    color: #000;
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
	border:none;
	background: none;
}
img,image{
	width: 100%;
	height: auto;
	object-fit: cover;
}
.flLeft{
	float: left;
}
.flRight{
	float: right;
}

view{
  box-sizing: border-box;
}

page{
  font-size: 28rpx;
  color:#333;
  line-height: 1.4;
  font-family: PingFangSC-Regular,PingFang SC;
}
.bold{
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:bold;
}
.c666{color:#666}
.c999{color:#999}
.fff{color:#fff}
.pd032{padding: 0 32rpx;}
.w686{width: 686rpx;margin-left: auto;margin-right: auto;}
.fs24{font-size: 24rpx;}
.fs26{font-size: 26rpx;}
.fs30{font-size: 30rpx;}
.fs32{font-size: 32rpx;}
.fs34{font-size: 34rpx;}
.fs40{font-size: 40rpx;}
.mt24{margin-top: 24rpx;}
.mt28{margin-top: 28rpx;}
.mt32{margin-top: 32rpx;}
.mt40{margin-top: 40rpx;}
.mr16{margin-right: 16rpx;}
.mr8{margin-right: 8rpx;}
.mb4{margin-bottom: 4rpx;}
.mb8{margin-bottom: 8rpx;}
.mb16{margin-bottom: 16rpx;}
.mb20{margin-bottom: 20rpx;}
.mb32{margin-bottom: 32rpx;}
.mb40{margin-bottom: 40rpx;}
.mb44{margin-bottom: 44rpx;}
.pt32{padding-top: 32rpx;}
.pd032{padding: 0 32rpx;}
.ell,.ells,.ells3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.ell{-webkit-line-clamp: 1;}
.ells{-webkit-line-clamp: 2;}
.ells3{-webkit-line-clamp: 3;}
.absolute {position: absolute;}
.relative {position: relative;}
.fixed {position: fixed;}
.flex {
  display: flex;
  align-content: flex-start;
  align-items: center;
}
.flex.wrap {flex-wrap: wrap;}
.flex.rowReverse{flex-direction: row-reverse;}
.flex.center {justify-content: center;}
.flex.between {justify-content: space-between;}
.flex.end {justify-content: flex-end;}
.flex.start {align-items: flex-start;}
.flex.stretch {align-items: stretch;}
.flex.alignEnd {align-items: flex-end;}


