view{
  box-sizing: border-box;
}

page{
  font-size: 28rpx;
  color:#333;
  line-height: 1.4;
  font-family: PingFangSC-Regular,PingFang SC;
}
.bold{
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:bold;
}
.c666{color:#666}
.c999{color:#999}
.fff{color:#fff}
.pd032{padding: 0 32rpx;}
.w686{width: 686rpx;margin-left: auto;margin-right: auto;}
.fs24{font-size: 24rpx;}
.fs26{font-size: 26rpx;}
.fs30{font-size: 30rpx;}
.fs32{font-size: 32rpx;}
.fs34{font-size: 34rpx;}
.fs40{font-size: 40rpx;}
.ell,.ells,.ells3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-spacing: pre-wrap;
}
.ell{-webkit-line-clamp: 1;}
.ells{-webkit-line-clamp: 2;}
.ells3{-webkit-line-clamp: 3;}
.absolute {position: absolute;}
.relative {position: relative;}
.fixed {position: fixed;}
.flex {
  display: flex;
  align-content: flex-start;
  align-items: center;
}
.flex.wrap {flex-wrap: wrap;}
.flex.rowReverse{flex-direction: row-reverse;}
.flex.center {justify-content: center;}
.flex.between {justify-content: space-between;}
.flex.end {justify-content: flex-end;}
.flex.start {align-items: flex-start;}
.flex.stretch {align-items: stretch;}
.flex.alignEnd {align-items: flex-end;}


